html {
	font-size : 50px;
}

#mobieheader {
	flex: 1;
	background: #f6f6f6;
}

#mobieheader header {
	border-bottom: 1px solid #2db7f5;
	padding-left: 5px;
}

#mobieheader header img {
	height: 50px;
}

#mobieheader header span {
	font-size: 35px;
	vertical-align: top;
	padding-left: 5px;
	color: #2db7f5;
}

#mobieheader i {
	font-size: 0.5rem;
	float: right;
	margin-right: 0.3rem;
	margin-top: 0.3rem;
	color: #2db7f5;
}

.ant-tabs-nav .ant-tabs-tab {
	height: auto !important;
}